// Page Headings
@import "../../_global.styles";

.page-heading-container {
	width: 100%;
	padding: 5vw 0 2vw 0;
	background: url("../../assets/red-mosaic.png"), $red;
	background-size: fit;
	background-repeat: repeat;
	.page-heading {
		width: clamp(768px, 70vw, 70vw);
		margin: 0 auto;
		display: flex;
		padding: 0 20px;

		@include respond-to($tablet) {
			width: 100%;
		}
		h1 {
			font-family: "Intro", Arial, sans-serif;
			font-size: clamp(31px, 3vw, 3.5vw);
			color: $white;
		}
	}
}
