@import "../../_global.styles";

#apply-section {
	width: 100%;
	margin: 60px 0;

	@include respond-to(1100px) {
		margin: 30px 0;
	}

	@include respond-to($mobile) {
		margin: 20px 0 60px 0;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4vw;
		width: clamp($tablet, 70vw, 70vw);
		margin: 0 auto;
		padding: 20px;

		@include respond-to($tablet) {
			width: 100%;
			grid-template-columns: 1fr;
		}

		#apply-information,
		#apply-form-container {
			.heading-button-container {
				display: flex;
				align-items: center;

				@include respond-to($mobile) {
					align-items: flex-start;
				}

				&:last-of-type {
					margin-bottom: 20px;
				}

				h2 {
					font-family: $intro;
					font-size: 20px;
					color: $black;
					flex-grow: 1;
				}

				i {
					display: none;
					font-size: 20px;
					color: $red;
					flex-shrink: 1;
					transform: rotate(90deg);
					transition: transform 0.1s linear;
					will-change: transform;

					@include respond-to($tablet) {
						display: block;
						font-size: 18px;
					}

					@include respond-to($mobile) {
						margin-top: 7px;
						font-size: 16px;
					}

					&.rotated {
						transform: rotate(180deg);
					}
				}
			}

			ul {
				list-style-type: number;
				list-style-position: inside;
				margin: 30px 0 30px 0;

				@include respond-to($tablet) {
					border-bottom: 1px solid $black;
					margin: 30px 0 30px 0;
					height: 0;
					max-height: 99999px;
					overflow: hidden;

					&.open {
						height: auto;
					}
				}

				li {
					font-family: $mont;
					color: $black;
					margin: 20px 0;

					@include respond-to($tablet) {
						&:first-of-type {
							margin: 0;
						}
					}
				}
			}
			p {
				color: $black;

				@include respond-to($tablet) {
					height: 0;
					max-height: 99999px;
					overflow: hidden;
					//margin-top: 10px;

					&.open {
						height: auto;
						margin-bottom: 20px;
					}
				}
			}
		}

		#apply-information {
			padding-bottom: 30px;

			@include respond-to($tablet) {
				border-bottom: 1px solid $black;
				padding-bottom: 10px;
			}

			// h2 {
			// 	@include respond-to($mobile) {
			// 		margin: 20px 0 5px 0;
			// 	}
			// }
		}

		#apply-form-container {
			@include respond-to($mobile) {
				margin-top: 10px;
			}

			#pre {
				margin: 40px 0 20px 0;
			}

			.disclaimer {
				font-size: 14px;
				font-style: italic;
			}

			form {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				column-gap: 15px;
				row-gap: 25px;
				//margin: 0px 0;

				@include respond-to($tablet) {
					height: 0;
					max-height: 99999px;
					overflow: hidden;
					margin: 20px 0;

					&.open {
						height: auto;
					}
				}

				@include respond-to($mobile) {
					display: flex;
					flex-direction: column;
				}

				p {
					height: auto;
					grid-column: 1 / 5;
				}

				#referral {
					grid-column: 1 / 5;

					@include respond-to($mobile) {
						grid-column: 1;
					}
				}

				label {
					font-family: $mont;
					font-size: clamp(14px, 0.7vw, 0.7vw);
					text-transform: uppercase;
					font-weight: 600;
					color: $black;

					.required {
						color: $red;
						margin-left: 3px;
					}

					input,
					select {
						display: block;
						width: 100%;
						margin-top: 5px;
						padding: 5px;
						color: $black;
						border: 2px solid $dark-gray;
						background: $light-gray;
					}

					&:nth-of-type(1) {
						grid-column: 1 / 3;
					}

					&:nth-of-type(2) {
						grid-column: 3 / 5;
					}

					&:nth-of-type(3) {
						grid-column: 1 / 5;
					}

					&:nth-of-type(4) {
						grid-column: 1 / 3;
					}

					&:nth-of-type(5) {
						grid-column: 3 / 4;
					}

					&:nth-of-type(6) {
						grid-column: 4 / 5;
					}

					&:nth-of-type(7) {
						grid-column: 1 / 3;
					}

					&:nth-of-type(8) {
						grid-column: 3 / 5;
					}

					&:nth-of-type(9) {
						grid-column: 1 / 5;
					}

					&:nth-of-type(10) {
						grid-column: 1 / 5;
					}
				}

				input[type="submit"] {
					width: 100%;
					grid-column: 1 / 3;
					margin-top: 20px;
					padding: 15px 0;
					font-size: clamp(16px, 1vw, 20px);

					@include respond-to(1500px) {
						grid-column: 1 / 4;
					}

					@include respond-to($tablet) {
						grid-column: 1 / 5;
					}
				}
			}
		}
	}
}
