///////////////////////
// Footer Component //
/////////////////////

@import "../../_global.styles";

footer {
	#footer-section {
		width: 100%;
		height: auto;
		background: $black;
		#footer-container {
			width: clamp($tablet, 70vw, 70vw);
			margin: 0 auto;
			padding: 60px 20px 50px 20px;

			@include respond-to($tablet) {
				width: 100%;
			}

			@include respond-to($mobile) {
				padding:40px 20px 30px 20px;
			}

			#footer-top {
				display: flex;
				justify-content: space-between;

				#footer-left {
					display: flex;
					justify-content: space-between;
					width: clamp(360px, 40%, 40%);

					@include respond-to($mobile) {
						display:none;
					}
					
					#learn-more {
						@include respond-to($tablet) {
							width:auto;
						}
						#get-involved-mobile {
							display:none;

							@include respond-to($tablet) {
								display:inline;
							}
						}
					}

					#get-involved {
						@include respond-to($tablet) {
							display:none;
						}
					}
				}
				.footer-menu {
					h3 {
						font-size: 18px;
						font-family: $mont;
					}
					ul {
						list-style: none;
						margin-top: 10px;

						li {
							padding: 5px 0;

							a {
								text-decoration: none;
								color: $white;
								font-family: $mont;
							}
						}
					}
				}

				#footer-right {
					display: flex;
					align-items: flex-start;
					gap: 30px;
					flex-shrink:0;

					@include respond-to(540px) {
						flex-direction:column;
					}

					@include respond-to($mobile) {
						width:100%;
						align-items:center;
						gap:20px;
					}

					#footer-logo-link {
						img {
							width:145px;
							flex-shrink:1;
							flex-grow:0;
	
							@include respond-to($mobile) {
								width:60%;
							}
						}
					}
					

					#contact-information {
						display: flex;
						flex-direction: column;
						gap: 20px;
						flex-shrink:0;
						flex-grow:1;

						@include respond-to(540px) {
							align-items:flex-end;
							text-align:right;
						}

						@include respond-to($mobile) {
							align-items:center;
							text-align:center;
						}
						
						a {
							font-family: $mont;
							text-decoration: none;
							color: $white;

							i {
								font-size: 24px;
								margin-right: 5px;

								@include respond-to($mobile) {
									font-size:28px;
								}
							}
						}
					}
				}
			}
		}

		#footer-bottom {
			border-top: 1px solid #444;
			#footer-bottom-content {
				width: clamp($tablet, 70vw, 70vw);
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				font-size: 12px;
				padding:20px;

				@include respond-to($tablet) {
					width: 100%;
				}

				@include respond-to(450px) {
					flex-direction: column-reverse;
					align-items: center;
					gap: 20px;
				}
			}
		}
	}
}
