// Globals

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//// Variables

// Colors
$red: #ec1d25;
$brown: #7e6c2a;
$purple: #a9accd;
$light-gray: #f4f4f4;
$dark-gray: #e7e7e7;
$black: #231f20;
$white: #ffffff;

// Fonts
@font-face {
	font-family: "Intro";
	src: url("../../assets/Intro-Demo-Black-Inline-CAPS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
$mont: "Montserrat", Arial, sans-serif;
$intro: "Intro", Arial, sans-serif;

p {
	font-family: $mont;
}

// Buttons
.button {
	width: 50%;
	padding: 1vw 0;
	font-family: $intro;
	font-size: clamp(12px, 1vw, 20px);
	text-decoration: none;
	border: 2px solid white;
	text-align: center;
	transition: letter-spacing 0.2s linear;
	cursor: pointer;

	&.white {
		background-color: $white;
		color: $red;
	}

	&.red {
		background-color: $red;
		color: $white;
	}

	&:hover {
		letter-spacing: 1px;
	}
}

// Breakpoints
$tablet: 768px;
$mobile: 431px;

@mixin respond-to($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}
