// Map Component
@import "../../_global.styles";

#map-module {
	position: relative;
	width: 100%;
	height: 500px;

	#locations-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background: blue;
		display: flex;
		justify-content: center;

		#locations-balancer {
			position: relative;
			width: 70%;
			width: clamp(calc(768px - 20px), 70vw, 70vw);
			height: 100%;

			#locations {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: start;
				//row-gap: 2vw;
				width: 50%;
				height: auto;
				//padding-left: 20px;
				//background: purple;

				.single-location {
					position: relative;
					height: auto;
					cursor: pointer;
					padding: 20px;

					&.highlight {
						background: $dark-gray;
					}

					.image-container {
						position: relative;
						width: 100%;
						height: auto;
						background: blue;

						.status {
							position: absolute;
							top: 0;
							right: 0;
							background: red;
						}

						img {
							width: 100%;
							aspect-ratio: 16 / 9;
							object-fit: cover;
							display: block;
						}
					}

					.info-container {
						background: tomato;
						display: flex;
						//flex-direction:column; // mobile only
						height: auto;

						.status-container {
							.status-marker {
								// add clamps here later
								width: 0.8vw;
								height: 0.8vw;
								border-radius: 0.8vw;
								margin-right: 5px;
							}
						}

						.address-container {
							p,
							a {
								font-family: $mont;
								font-weight: 600;
								color: $black;
							}

							a {
								font-size: 0.6vw;
								text-decoration: none;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}

	#map-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 700px;
		background: red;
		border: 1px solid white;

		#key-bar {
			position: absolute;
			display: flex;
			column-gap: 30px;
			left: 10px;
			bottom: 10px;
			width: auto;
			height: auto;
			padding: 5px 10px;
			border: 2px solid $dark-gray;
			border-radius: 50px;
			background: $white;
			z-index: 0;

			.key-container {
				position: relative;
				display: flex;
				align-items: center;
				.key {
					width: 15px;
					height: 15px;
					border-radius: 15px;
					margin-right: 5px;

					&.purple {
						background: $purple;
					}
					&.brown {
						background: $brown;
					}
					&.red {
						background: $red;
					}
				}
				.count {
					font-family: $mont;
					font-size: 0.8vw;
					font-weight: 600;
					text-transform: uppercase;
					color: $black;

					span {
						font-weight: 400;
					}
				}
			}
		}
	}
}
