// Map Component
@import "../../_global.styles";

#map-module {
	position: relative;
	width: 100%;
	height: 760px;

	#locations-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;

		#locations-balancer {
			position: relative;
			width: 70%;
			width: clamp(calc($tablet - 20px), 70vw, 70vw);
			height: 100%;

			#locations {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: start;
				width: 50%;
				height: 100%;
				overflow-y: scroll;
				scrollbar-width: thin;
				//padding-left: 20px;
				//row-gap: 2vw;

				.single-location {
					position: relative;
					height: auto;
					padding: 20px;
					padding: clamp(10px, 1vw, 1vw);

					&.highlight {
						background: $dark-gray;
					}

					.image-container {
						position: relative;
						width: 100%;
						height: auto;

						.status {
							display: none; // on mobile
							position: absolute;
							top: 0;
							right: 0;

							@include respond-to($tablet) {
								display: inline-block;
							}
						}

						img {
							width: 100%;
							aspect-ratio: 16 / 9;
							object-fit: cover;
							display: block;
						}
					}

					.info-container {
						display: flex;
						align-items: flex-start;
						//flex-direction:column; // mobile only
						height: auto;
						padding: 15px 3px 0 3px;

						.status-container {
							.status-marker {
								// add clamps here later
								width: 16px;
								height: 16px;
								border-radius: 16px;
								margin-right: 6px;
							}
						}

						.address-container {
							display: flex;
							flex-direction: column;
							row-gap: 5px;
							p,
							a {
								font-family: $mont;
								font-weight: 600;
								color: $black;
								line-height: 17px;
							}

							a {
								font-size: clamp(10px, 0.7vw, 0.7vw);
								text-decoration: none;
								text-transform: uppercase;

								&:hover {
									color: $red;
								}
							}
						}
					}
				}
			}
		}
	}

	#map-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 760px;

		#key-bar {
			position: absolute;
			display: flex;
			column-gap: 30px;
			column-gap: clamp(0px, 2vw, 2vw);
			left: 10px;
			bottom: 10px;
			width: auto;
			height: auto;
			padding: 5px 10px;
			border: 2px solid $dark-gray;
			border-radius: 50px;
			background: $white;
			z-index: 0;

			@include respond-to($tablet) {
				display: none;
			}

			.key-container {
				position: relative;
				display: flex;
				align-items: center;
				.key {
					width: 15px;
					height: 15px;
					border-radius: 15px;
					margin-right: 5px;

					&.purple {
						background: $purple;
					}
					&.brown {
						background: $brown;
					}
					&.red {
						background: $red;
					}
				}
				.count {
					font-family: $mont;
					font-size: 0.8vw;
					font-size: clamp(10px, 0.8vw, 0.8vw);
					font-weight: 600;
					text-transform: uppercase;
					color: $black;

					span {
						font-weight: 400;
					}
				}
			}
		}
	}
}
